body{
	background: rgba(183,235,233,.4);
}

	h1{
	color:#00a7b0;
	font-family: Helvetica, "sans-serif";
	font-size: 32px;
	text-align: center;
}
h2{
	color:#00a7b0;
	font-family: Helvetica, "sans-serif";
	font-size: 30px;
	text-align: center;
}
#slogan{
	color:#f68842;
	font-family: Helvetica, "sans-serif";
	font-size: 30px;
	text-align: center;
	font-style:italic;
}


p{
	color: #000000;
	font-family: Helvetica, "sans-serif";
	font-size: 22px;
}

ul{
	color:#000000;
	font-family: Helvetica, "sans-serif";
	font-size: 22px;
	text-align: center;
	list-style-type: none;
}